# Data Science Tools and Ecosystem

In this notbook, Data science and tools and ecosystem are summarized.

Some of popular languages that data science use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of commonly used libraries used by data science include:
1. Pandas
2. Numpy
3. Matplotlip
4. ggplot2
5. dplyr
6. caret

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Spark       |
| TensorFlow         |

### Below are few examples of evaluating arithmatic experssions in Python:

In [14]:
# this is a simple arithmathic expression to mutiply then add integers.
(3*4)+5

17

In [18]:
# this will convert 200 minuts too hours by diving by 60.
Hours = 200/60
Hours

3.3333333333333335

### List popular languages for data science
- **Python**
- **R**
- **SQL**

## Author
SeyedMohammad Vahedi